In [1]:
import pandas as pd

In [2]:
stop_data = pd.read_csv("stop_locations.txt", delimiter="|", header = None)
stop_data.columns = ["StopID", "StopNameShort", "StopNameLong", "StopType","SuburbName","PostCode","RegionName",
                     "LocalGovernmentArea","StatDivision","GPSLat","GPSLong"]

In [5]:
stop_data.head()

,StopID,StopNameShort,StopNameLong,StopType,SuburbName,PostCode,RegionName,LocalGovernmentArea,StatDivision,GPSLat,GPSLong
0,867,Weemala Court,Weemala Ct/Plenty River Dr (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.689596,145.105088
1,868,Crana Grove,Crana Gr/Plenty River Dr (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.686742,145.105588
2,869,Punkerri Circuit,Punkerri Cct/Plenty River Dr (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.683643,145.108743
3,870,Plenty River Drive,231 Plenty River Dr (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.682591,145.111331
4,875,Oldstead Rd,Oldstead Rd/Diamond Creek Rd (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.685336,145.117319

In [4]:
stop_data['SuburbName'].value_counts()

Reservoir             326
Shepparton            299
Mildura               263
Melbourne City        242
Sunbury               226
Preston               220
Werribee              211
Frankston             208
Berwick               203
Hoppers Crossing      186
Glen Waverley         182
Pakenham              170
Warrnambool           170
Epping                164
Croydon               152
Ferntree Gully        151
Rowville              151
Traralgon             145
Coburg                142
Doncaster East        138
St Albans             138
Bundoora              137
Dandenong             137
Mill Park             135
Cheltenham            135
Horsham               133
Bentleigh East        132
Wantirna South        128
Camberwell            124
Point Cook            123
                     ...
Harrietville            1
Tostaree                1
Sea Lake                1
Burramine               1
Torrita                 1
Hotham Heights          1
Dartmoor                1
Murrabit                1
Tinamba                 1
Mudgegonga              1
Barmah                  1
Cootamundra (NSW)       1
Cooma (NSW)             1
Gormandale              1
Corryong                1
Moruya (NSW)            1
Woods Point             1
Cudgewa                 1
Sherlock (SA)           1
Eden (NSW)              1
Campbelltown (NSW)      1
Waygara                 1
Ballangeich             1
Condah                  1
W Tree                  1
Rainbow                 1
Lavers Hill             1
Dereel                  1
Jabuk (SA)              1
Numurkah                1
Name: SuburbName, Length: 1209, dtype: int64

In [31]:
Stops_Bentleigh = stop_data['StopID'].loc[(stop_data['RegionName'] == "Melbourne") & (stop_data['SuburbName']=="Bentleigh East")].tolist()

In [32]:
df_Bentleigh

[15956,
 15957,
 15959,
 15960,
 15961,
 15962,
 15963,
 15964,
 15965,
 15966,
 15967,
 15968,
 15969,
 16006,
 16156,
 16211,
 16212,
 16213,
 16214,
 16215,
 16885,
 16886,
 17618,
 17619,
 17621,
 17622,
 17624,
 17625,
 7108,
 7109,
 7110,
 7111,
 7112,
 7113,
 7114,
 7115,
 7116,
 7117,
 7106,
 7107,
 8142,
 8143,
 8144,
 8145,
 8146,
 8147,
 8148,
 8149,
 8150,
 8151,
 8152,
 8153,
 8154,
 8155,
 8156,
 8157,
 8158,
 8347,
 8348,
 8349,
 8350,
 8351,
 8352,
 8353,
 8354,
 8355,
 9368,
 9369,
 9370,
 9371,
 9372,
 9373,
 9374,
 9451,
 9452,
 9453,
 9455,
 9456,
 9457,
 9458,
 9459,
 9460,
 9461,
 9462,
 9463,
 9464,
 9465,
 9466,
 9467,
 16441,
 16883,
 16884,
 14746,
 14747,
 14748,
 14749,
 14750,
 14752,
 14753,
 14754,
 14755,
 14756,
 14757,
 14758,
 14759,
 14760,
 13011,
 13012,
 13013,
 13014,
 13272,
 13273,
 13275,
 13276,
 13277,
 13278,
 13279,
 13280,
 13281,
 13282,
 13283,
 13284,
 13285,
 13627,
 13628,
 13629,
 13630,
 13005,
 13007,
 13008,
 13009,
 13010]

In [33]:
df = pd.read_csv("aggregated_stop_data_2015_to_2018_new_weekname_v2.csv", delimiter=",")

In [34]:
df.head()

,StopID,StopType,SuburbName,RegionName,GPSLat,GPSLong,week_201527,week_201528,week_201529,week_201530,...,week_201824,week_201825,week_201826,week_201803,week_201804,week_201805,week_201806,week_201807,week_201808,week_201809
0,867,Kerbside,Greensborough,Melbourne,-37.689596,145.105088,NaN,1.0,2.0,2.0,...,5.0,7.0,3.0,NaN,1.0,5.0,2.0,4.0,6.0,4.0
1,868,Kerbside,Greensborough,Melbourne,-37.686742,145.105588,3.0,5.0,3.0,2.0,...,9.0,5.0,9.0,8.0,7.0,10.0,19.0,14.0,16.0,5.0
2,869,Kerbside,Greensborough,Melbourne,-37.683643,145.108743,NaN,3.0,7.0,4.0,...,5.0,9.0,1.0,1.0,4.0,4.0,1.0,5.0,4.0,2.0
3,870,Kerbside,Greensborough,Melbourne,-37.682591,145.111331,NaN,4.0,1.0,NaN,...,1.0,NaN,1.0,NaN,5.0,2.0,3.0,1.0,7.0,4.0
4,875,Kerbside,Greensborough,Melbourne,-37.685336,145.117319,6.0,7.0,10.0,8.0,...,6.0,5.0,10.0,3.0,4.0,1.0,5.0,3.0,4.0,12.0

In [35]:
columns = ["StopType", "SuburbName", "RegionName","GPSLat","GPSLong"]
df1 = df.drop(columns, 1)

In [36]:
df1.head()

,StopID,week_201527,week_201528,week_201529,week_201530,week_201531,week_201532,week_201533,week_201534,week_201535,...,week_201824,week_201825,week_201826,week_201803,week_201804,week_201805,week_201806,week_201807,week_201808,week_201809
0,867,NaN,1.0,2.0,2.0,1.0,NaN,NaN,1.0,NaN,...,5.0,7.0,3.0,NaN,1.0,5.0,2.0,4.0,6.0,4.0
1,868,3.0,5.0,3.0,2.0,2.0,2.0,5.0,9.0,2.0,...,9.0,5.0,9.0,8.0,7.0,10.0,19.0,14.0,16.0,5.0
2,869,NaN,3.0,7.0,4.0,3.0,2.0,5.0,1.0,3.0,...,5.0,9.0,1.0,1.0,4.0,4.0,1.0,5.0,4.0,2.0
3,870,NaN,4.0,1.0,NaN,2.0,1.0,1.0,3.0,2.0,...,1.0,NaN,1.0,NaN,5.0,2.0,3.0,1.0,7.0,4.0
4,875,6.0,7.0,10.0,8.0,14.0,6.0,8.0,4.0,8.0,...,6.0,5.0,10.0,3.0,4.0,1.0,5.0,3.0,4.0,12.0

In [37]:
# transposing
df1.set_index('StopID',inplace=True)
df1.transpose()

StopID,867,868,869,870,875,876,971,977,1491,1493,...,38033,38034,38035,38036,38037,38038,38039,38040,38041,38042
week_201527,NaN,3.0,NaN,NaN,6.0,5.0,15.0,73.0,1.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201528,1.0,5.0,3.0,4.0,7.0,9.0,24.0,144.0,7.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201529,2.0,3.0,7.0,1.0,10.0,24.0,22.0,158.0,10.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201530,2.0,2.0,4.0,NaN,8.0,7.0,22.0,148.0,9.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201531,1.0,2.0,3.0,2.0,14.0,11.0,26.0,263.0,8.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201532,NaN,2.0,2.0,1.0,6.0,13.0,29.0,274.0,10.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201533,NaN,5.0,5.0,1.0,8.0,10.0,39.0,274.0,13.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201534,1.0,9.0,1.0,3.0,4.0,22.0,30.0,216.0,11.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201535,NaN,2.0,3.0,2.0,8.0,8.0,40.0,272.0,6.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201536,1.0,10.0,2.0,6.0,7.0,16.0,38.0,284.0,10.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201537,1.0,11.0,3.0,1.0,8.0,10.0,30.0,259.0,10.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201538,NaN,5.0,1.0,5.0,8.0,18.0,25.0,291.0,9.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201539,NaN,5.0,1.0,NaN,10.0,10.0,24.0,170.0,5.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201540,NaN,2.0,3.0,5.0,6.0,6.0,15.0,69.0,10.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201541,2.0,4.0,1.0,6.0,7.0,17.0,25.0,153.0,10.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201542,1.0,7.0,3.0,5.0,6.0,7.0,33.0,162.0,5.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201543,NaN,3.0,6.0,5.0,6.0,15.0,30.0,175.0,9.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201544,1.0,6.0,3.0,3.0,NaN,12.0,28.0,148.0,10.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201545,1.0,3.0,2.0,NaN,2.0,7.0,33.0,89.0,9.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201546,1.0,7.0,4.0,2.0,3.0,9.0,34.0,114.0,8.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201547,1.0,NaN,4.0,1.0,3.0,10.0,29.0,110.0,7.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201548,NaN,3.0,1.0,3.0,4.0,8.0,32.0,112.0,7.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201549,4.0,3.0,1.0,1.0,7.0,14.0,15.0,109.0,7.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201550,1.0,NaN,1.0,NaN,8.0,14.0,26.0,64.0,5.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201551,4.0,1.0,3.0,NaN,4.0,13.0,20.0,39.0,9.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201552,1.0,2.0,2.0,1.0,6.0,5.0,16.0,12.0,2.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201553,NaN,1.0,3.0,NaN,4.0,7.0,12.0,1.0,5.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201610,2.0,10.0,4.0,NaN,4.0,15.0,20.0,169.0,3.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201611,2.0,6.0,6.0,3.0,13.0,23.0,32.0,168.0,9.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201612,3.0,2.0,3.0,5.0,6.0,30.0,42.0,130.0,9.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
week_201753,2.0,10.0,3.0,1.0,3.0,3.0,13.0,4.0,4.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201706,2.0,4.0,2.0,6.0,9.0,20.0,36.0,2.0,5.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201707,NaN,2.0,2.0,NaN,7.0,23.0,24.0,4.0,1.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201708,2.0,7.0,1.0,5.0,7.0,21.0,34.0,7.0,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201709,4.0,6.0,1.0,5.0,6.0,15.0,49.0,11.0,5.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201810,14.0,14.0,3.0,2.0,10.0,35.0,23.0,16.0,25.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201811,5.0,6.0,3.0,7.0,12.0,39.0,13.0,12.0,14.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201812,4.0,16.0,1.0,3.0,5.0,49.0,11.0,26.0,16.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201813,4.0,9.0,1.0,7.0,13.0,37.0,13.0,13.0,7.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201814,1.0,6.0,1.0,5.0,7.0,15.0,15.0,5.0,8.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201815,2.0,6.0,4.0,5.0,10.0,25.0,18.0,19.0,9.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201816,3.0,10.0,NaN,6.0,18.0,26.0,15.0,22.0,7.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201817,3.0,11.0,3.0,4.0,8.0,41.0,14.0,17.0,14.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201818,8.0,11.0,7.0,5.0,10.0,45.0,22.0,26.0,11.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201819,5.0,9.0,1.0,4.0,4.0,25.0,18.0,18.0,8.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201802,NaN,12.0,4.0,NaN,7.0,5.0,12.0,4.0,6.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201820,7.0,15.0,10.0,4.0,9.0,19.0,19.0,17.0,11.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201821,6.0,10.0,7.0,7.0,4.0,27.0,10.0,17.0,10.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201822,7.0,14.0,7.0,5.0,2.0,27.0,15.0,22.0,11.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201823,3.0,7.0,5.0,4.0,7.0,23.0,16.0,4.0,3.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201824,5.0,9.0,5.0,1.0,6.0,14.0,13.0,4.0,4.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201825,7.0,5.0,9.0,NaN,5.0,22.0,12.0,7.0,11.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201826,3.0,9.0,1.0,1.0,10.0,23.0,7.0,2.0,4.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201803,NaN,8.0,1.0,NaN,3.0,10.0,13.0,3.0,4.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201804,1.0,7.0,4.0,5.0,4.0,13.0,20.0,3.0,7.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201805,5.0,10.0,4.0,2.0,1.0,18.0,14.0,6.0,11.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201806,2.0,19.0,1.0,3.0,5.0,44.0,20.0,7.0,16.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201807,4.0,14.0,5.0,1.0,3.0,52.0,13.0,7.0,28.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201808,6.0,16.0,4.0,7.0,4.0,41.0,19.0,10.0,18.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week_201809,4.0,5.0,2.0,4.0,12.0,40.0,17.0,18.0,16.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df2 = df1.transpose()

In [39]:
# removing column with all null values
df3=df2.dropna(axis=1,how='all')

In [41]:
df3.to_csv("agg_stop.csv", sep=',', index=False)

In [123]:
df4 = df3.reset_index()

In [124]:
df4.head()

StopID,index,867,868,869,870,875,876,971,977,1491,...,7135,9926,11442,19791,19792,20045,20066,21215,22341,22969
0,week_201527,NaN,3.0,NaN,NaN,6.0,5.0,15.0,73.0,1.0,...,NaN,35.0,1.0,209.0,817.0,1.0,NaN,183.0,1.0,162.0
1,week_201528,1.0,5.0,3.0,4.0,7.0,9.0,24.0,144.0,7.0,...,NaN,36.0,1.0,333.0,1292.0,2.0,NaN,361.0,6.0,294.0
2,week_201529,2.0,3.0,7.0,1.0,10.0,24.0,22.0,158.0,10.0,...,NaN,35.0,9.0,313.0,1439.0,1.0,NaN,383.0,6.0,378.0
3,week_201530,2.0,2.0,4.0,NaN,8.0,7.0,22.0,148.0,9.0,...,NaN,62.0,7.0,402.0,1596.0,3.0,NaN,450.0,2.0,335.0
4,week_201531,1.0,2.0,3.0,2.0,14.0,11.0,26.0,263.0,8.0,...,NaN,74.0,14.0,356.0,1659.0,2.0,NaN,352.0,NaN,459.0

In [125]:
df4["index"] = df4["index"].astype(str).str[5:]

In [129]:
df4 =df4.rename(columns = {'StopID':'Index'})
df4 =df4.rename(columns = {'index':'Date'})

In [128]:
df4.head()

StopID,Date,867,868,869,870,875,876,971,977,1491,...,7135,9926,11442,19791,19792,20045,20066,21215,22341,22969
0,201527,NaN,3.0,NaN,NaN,6.0,5.0,15.0,73.0,1.0,...,NaN,35.0,1.0,209.0,817.0,1.0,NaN,183.0,1.0,162.0
1,201528,1.0,5.0,3.0,4.0,7.0,9.0,24.0,144.0,7.0,...,NaN,36.0,1.0,333.0,1292.0,2.0,NaN,361.0,6.0,294.0
2,201529,2.0,3.0,7.0,1.0,10.0,24.0,22.0,158.0,10.0,...,NaN,35.0,9.0,313.0,1439.0,1.0,NaN,383.0,6.0,378.0
3,201530,2.0,2.0,4.0,NaN,8.0,7.0,22.0,148.0,9.0,...,NaN,62.0,7.0,402.0,1596.0,3.0,NaN,450.0,2.0,335.0
4,201531,1.0,2.0,3.0,2.0,14.0,11.0,26.0,263.0,8.0,...,NaN,74.0,14.0,356.0,1659.0,2.0,NaN,352.0,NaN,459.0

In [135]:
df4['Date'] = df4['Date'].apply(lambda x: datetime.datetime.strptime(x + '-0', "%Y%W-%w"))

In [136]:
df4.head()

StopID,Date,867,868,869,870,875,876,971,977,1491,...,7135,9926,11442,19791,19792,20045,20066,21215,22341,22969
0,2015-07-12,NaN,3.0,NaN,NaN,6.0,5.0,15.0,73.0,1.0,...,NaN,35.0,1.0,209.0,817.0,1.0,NaN,183.0,1.0,162.0
1,2015-07-19,1.0,5.0,3.0,4.0,7.0,9.0,24.0,144.0,7.0,...,NaN,36.0,1.0,333.0,1292.0,2.0,NaN,361.0,6.0,294.0
2,2015-07-26,2.0,3.0,7.0,1.0,10.0,24.0,22.0,158.0,10.0,...,NaN,35.0,9.0,313.0,1439.0,1.0,NaN,383.0,6.0,378.0
3,2015-08-02,2.0,2.0,4.0,NaN,8.0,7.0,22.0,148.0,9.0,...,NaN,62.0,7.0,402.0,1596.0,3.0,NaN,450.0,2.0,335.0
4,2015-08-09,1.0,2.0,3.0,2.0,14.0,11.0,26.0,263.0,8.0,...,NaN,74.0,14.0,356.0,1659.0,2.0,NaN,352.0,NaN,459.0

In [137]:
df4.to_csv("agg_date.csv", sep=',', index=False, header=True)

In [138]:
sel_columns = [1491, 21024,21023,21025, 3697, 14845, 14599, 14831]

In [139]:
df5 = pd.DataFrame(df4, columns=sel_columns)

In [142]:
df5.columns = df5.columns.map(str)

In [143]:
df5.head()

   1491  21024  21023  21025  3697  14845  14599  14831
0   1.0  158.0   64.0   54.0  35.0   17.0   10.0   20.0
1   7.0  243.0  116.0  265.0  60.0   36.0    7.0   28.0
2  10.0  331.0  160.0  260.0  68.0   59.0   11.0   41.0
3   9.0  297.0  215.0  265.0  53.0   61.0   12.0   43.0
4   8.0  366.0  233.0  146.0  51.0   78.0   12.0   33.0

In [141]:
df5.to_csv("melbCity_stops.csv", sep=',', index=True)

In [21]:
df = pd.read_csv("agg_date_v3.csv", delimiter=",")

In [22]:
df.head()

,Date,867,868,869,870,875,876,971,977,1491,...,7135,9926,11442,19791,19792,20045,20066,21215,22341,22969
0,2015-07-12,NaN,3.0,NaN,NaN,6.0,5.0,15.0,73.0,1.0,...,NaN,35.0,1.0,209.0,817.0,1.0,NaN,183.0,1.0,162.0
1,2015-07-19,1.0,5.0,3.0,4.0,7.0,9.0,24.0,144.0,7.0,...,NaN,36.0,1.0,333.0,1292.0,2.0,NaN,361.0,6.0,294.0
2,2015-07-26,2.0,3.0,7.0,1.0,10.0,24.0,22.0,158.0,10.0,...,NaN,35.0,9.0,313.0,1439.0,1.0,NaN,383.0,6.0,378.0
3,2015-08-02,2.0,2.0,4.0,NaN,8.0,7.0,22.0,148.0,9.0,...,NaN,62.0,7.0,402.0,1596.0,3.0,NaN,450.0,2.0,335.0
4,2015-08-09,1.0,2.0,3.0,2.0,14.0,11.0,26.0,263.0,8.0,...,NaN,74.0,14.0,356.0,1659.0,2.0,NaN,352.0,NaN,459.0

In [49]:
df['7135'].shape[0]

157

In [54]:
df.isnull().sum().sort_values(ascending=False)

42608    156
44799    156
39666    156
19678    156
23484    156
40012    156
23464    156
22992    156
40021    156
23467    156
22176    156
40098    156
41153    156
19121    156
38699    156
22507    156
23485    156
22379    156
22932    156
40082    156
41399    156
6132     156
23483    156
22941    156
38501    156
22937    156
39770    156
40137    156
40135    156
22948    156
        ...
7466       0
7465       0
7461       0
7460       0
7459       0
7458       0
7457       0
7456       0
7581       0
7582       0
7583       0
7584       0
9287       0
9285       0
9284       0
9283       0
9282       0
9281       0
9036       0
9035       0
9034       0
9033       0
9032       0
9031       0
7590       0
7589       0
7587       0
7586       0
7585       0
Date       0
Length: 18385, dtype: int64

In [11]:
df2 = pd.melt(df, id_vars=['Date'])

In [12]:
df2.columns=['Date','StopID','Counts']

In [13]:
df2.head()

         Date StopID  Counts
0  2015-07-12    867     NaN
1  2015-07-19    867     1.0
2  2015-07-26    867     2.0
3  2015-08-02    867     2.0
4  2015-08-09    867     1.0

In [14]:
df2.to_csv("agg_date_v4.csv", sep=',', index=False)

In [56]:
df = pd.read_csv("agg_date_v4.csv", delimiter=",")

In [57]:
df.head()

         Date  StopID  Counts
0  2015-07-12     867     NaN
1  2015-07-19     867     1.0
2  2015-07-26     867     2.0
3  2015-08-02     867     2.0
4  2015-08-09     867     1.0

In [58]:
df['Counts'].isnull().sum()

347568

In [59]:
df.shape[0]

2886288

In [61]:
df['Counts'].fillna(0, inplace=True)

In [65]:
stop_data.head(2)

,StopID,StopNameShort,StopNameLong,StopType,SuburbName,PostCode,RegionName,LocalGovernmentArea,StatDivision,GPSLat,GPSLong
0,867,Weemala Court,Weemala Ct/Plenty River Dr (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.689596,145.105088
1,868,Crana Grove,Crana Gr/Plenty River Dr (Greensborough),Kerbside,Greensborough,3088.0,Melbourne,Banyule,Greater Metro,-37.686742,145.105588

In [66]:
new_df = pd.merge(df, stop_data,  how='left', left_on=['StopID'], right_on = ['StopID'])

In [68]:
new_df.isnull().sum()

Date                       0
StopID                     0
Counts                     0
StopNameShort              0
StopNameLong               0
StopType                5966
SuburbName                 0
PostCode               10048
RegionName                 0
LocalGovernmentArea        0
StatDivision               0
GPSLat                     0
GPSLong                    0
dtype: int64

In [69]:
new_df.to_csv("agg_date_v5.csv", sep=',', index=False)